

{% extends "base.html" %}
{% load humanize %}

{% block content %}
    <form action="." method="get">
        <p>
            <input type="text" name="title" placeholder="keywords">
            <input type="submit" value="search">
        </p>
    </form>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>User</th>
            <th>Release Date</th>
        </tr>
        {% for obj in objects %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.title }}</td>
                <td>{{ obj.description }}</td>
                <td>{{ obj.writer }}</td>
                <!-- BURA NE??? !-->
                <td>{{ obj.release_date|naturalday }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
